extends layout

block content
  h1= title
  ul Welcome to Instagram 
    li Post crud is implemented with image upload.
    li User authentication is also used.
    li Click on Home to see posts or add new posts
    li This UI is just to show functionality, Actual UI is Implemented in React(not part of this assignment)
